/*General declarations*/
html {
    font-family: sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
}

body,
nav,
#my-picture-area {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
}

body {
    flex-direction: column;
    margin: 0;
    color: white;
}

ul {
    padding: 0;
}

h2 {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

a:hover,
button:hover {
    cursor: pointer;
}

h4 {
    font-size: 1.1em;
    font-weight: 300;
}

/*--------NAV----------*/

#hamburger {
    height: 2em;
    font-size: 1.9em;
    display: none;
    color: white;
}

nav {
    position: fixed;
    z-index: 9999;
    backdrop-filter: blur(3px) saturate(139%);
    -webkit-backdrop-filter: blur(3px) saturate(139%);
    background-color: rgba(0, 0, 0, 0.56);
}

nav div,
nav ul {
    width: 50%;
    margin-left: 15%;
    margin-right: 15%;
}

nav div a {
    text-decoration: none;
}

nav div a h3 {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

nav div a h3:hover {
    color: #65C7CF;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul a {
    font-weight: 300;
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: #65C7CF;
}

nav ul li {
    display: inline-block;
}

#mobile-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    z-index: 1000;

    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(120%);
    background-color: rgba(44, 106, 115, 0.4);

    transform: translateY(-100%);
    transition: transform 0.5s ease, visibility 0s 0.5s, opacity 0.5s linear;
}

#mobile-nav.active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#mobile-nav ul {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 20%;
    list-style: none;
}

#mobile-nav ul li {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

#mobile-nav ul li a {
    text-decoration: none;
    color: white;
}

.disable-scroll {
    overflow: hidden;
}


/*--------MAIN & CHILDREN----------*/

main {
    width: 70%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-top: 10vh;
}

/*LEFT HALF main*/

#intro-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#intro-text-area h1,
#intro-text-area h4 {
    margin: 0px;
}

#intro-text-area h1 {
    font-size: 4em;
    font-weight: 600;
    color: #65C7CF;
}

#intro-text-area h1 span {
    animation: underscoreInOut;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

#cta-button {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#call-to-action {
    height: 100%;
    width: 50%;
    max-width: 175px;
    max-height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    color: white;
    /*background-image: radial-gradient(circle 897px at 9% 80.3%, #490E43 0%, white 100.2%);*/
    background-color: #850a31;
    animation: buttonChangeShape;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

#call-to-action:hover {
    background-image: radial-gradient(circle 897px at 9% 80.3%, #8c163b 0%, white 100.2%);
}

/*RIGHT HALF main*/

#my-picture-area {
    justify-content: center;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#my-picture-area img {
    max-width: 305px;
    max-height: 305px;
}

#image-glowing-ring {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 5px #043539, 0 0 8px #043539, 0 0 11px #043539, 0 0 14px #043539;
    z-index: 999;
}

@keyframes underscoreInOut {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

@keyframes buttonChangeShape {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/*--------MY PROJECTS SECTION----------*/

#my-projects {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5vh;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 15%;
    padding-right: 15%;
    background-color: black;
}

#my-projects-top-content,
#my-projects-text {
    margin-bottom: 5%;
}

#my-projects h2 {
    width: 100%;
    color: #65C7CF;
}

.my-projects-intro-p {
    width: 100%;
    text-align: justify;
    font-size: 1.1em;
}

span {
    color: #65C7CF;
}

#my-stack {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin-block-end: 1em;
    margin-bottom: 5%;
}

#stack-icons-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

/*Animations icons*/
.falling-icon {
    animation: fall 1s forwards;
    opacity: 0;
}

.falling-animation {
    animation: fall 1s forwards;
}


@keyframes fall {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

#cards {
    display: flex;
    justify-content: space-between;
}

.project-container {
    height: auto;
    min-height: 330px;
    width: 25%;
    max-width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 0 1px #0083B0, 0 0 2px #0083B0, 0 0 6px #0083B0, 0 0 9px #0083B0;
}

.project-container p,
.visit {
    position: relative;
    left: 5%;
}

.project-container img {
    width: 100%;
    height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-container p {
    width: 90%;
    font-size: 1.1em;
}

.visit {
    width: 90%;
    border: 0;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 12%;
    background-image: radial-gradient(circle 897px at 9% 80.3%, #850a31 0%, rgb(202, 195, 195) 100.2%);
    color: white;
}

.visit:hover {
    background-image: radial-gradient(circle 897px at 9% 80.3%, #8c163b 0%, rgb(202, 195, 195) 100.2%);
}

/*--------ABOUT ME ----------*/

#about-me {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
}

#about-me-text {
    width: 70%;
}

#about-me-text h2 {
    color: #65C7CF;
}

#about-me-text p {
    font-size: 1.1em;
    color: white;
}

.container {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 10%;
}

.bar {
    width: 0;
    opacity: 0;
    height: 2em;
    margin-bottom: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    transition: width 2s, opacity 2s;
    /* Include opacity in the transition */
    text-align: center;
    line-height: 2em;
    overflow: hidden;
    background: #00B4DB;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0083B0, #00B4DB);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #0083B0, #00B4DB);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.animate {
    width: 100%;
    opacity: 1;
}

#bar1 {
    transition-delay: 0s;
}

#bar2 {
    transition-delay: 2s;
}

#bar3 {
    transition-delay: 4s;
}

#bar4 {
    transition-delay: 6s;
}

/*--------FOOTER ----------*/

footer {
    width: 90%;
    margin-top: 10vh;
    margin-right: 0px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#connect {
    color: #65C7CF
}

footer ul {
    display: block;
    padding: 0px;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul img {
    max-width: 40px;
    position: relative;
    left: 0%;
}

footer h4 {
    left: 0%;
}

#foot-contact ul img {
    margin-left: 5px;
    margin-right: 5px;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1160px) {
    nav {
        width: 100%;
    }

    nav ul,
    nav div {
        margin-left: 5%;
        margin-right: 5%;
    }

    nav ul li a {
        margin-left: 0px;
        margin-right: 10px;
    }

    main {
        width: 90%;
        grid-template-rows: auto auto auto;
    }

    #intro-text-area,
    #my-picture-area,
    #cta-button {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #intro-text-area {
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 5%;
    }

    #intro-text-area h4 {
        width: 90%;
        text-align: center;
    }

    #my-picture-area {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #cta-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #call-to-action {
        min-height: 35px;
        max-width: 300px;
        margin-top: 10%;
        width: 100%;
    }

    #cards {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    #my-projects {
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .project-container {
        width: 50%;
        margin-top: 4%;
        margin-bottom: 4%;
    }

    #about-me {
        width: 90%;
        flex-wrap: wrap;
    }

    #about-me-text {
        width: 100%;
    }

    .container {
        width: 100%;
        height: auto;
        justify-content: center;
        padding-left: 0;
    }
}

/*break here to next section*/

@media screen and (max-width: 660px) {
    nav ul {
        display: none;
    }

    #hamburger {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .project-container {
        width: 100%;
    }

    .project-container img {
        height: fit-content;
    }

    footer {
        width: 90%;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 575px) {

    nav ul {
        display: none;
    }

    #intro-text-area h1 {
        width: 100%;
        font-size: 2.6em;
        margin-bottom: 5%;
    }

    #intro-text-area h4 {
        width: 100%;
        text-align: start;
    }

}