html {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #141010;
}

/*--------Styles start below----------*/

nav {
    width: 80%;
    display: flex;
    justify-content: end;
}

nav ul a {
    margin-left: 20px;
}

nav ul {
    margin-right: 10%;
}

nav ul li {
    display: inline-block;
    background-color: #141010;
    color: white;
}

main {
    width: 80%;
    height: 75vh;
    display: flex;
    justify-content: center;

    background-color: #141010;
}

/*Left side of the main section*/

#intro-text-area {
    width: 65%;
    margin-left: 5%;

    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

#intro-text-area h1,
h4,
#cta-button {
    position: relative;
    left: 5%;
}

#intro-text-area h1 {
    font-size: 4em;
    font-weight: bold;
    color: #65C7CF;
    text-shadow: 0 0 2px #043539, 0 0 5px #043539, 0 0 8px #043539, 0 0 10px;
}

/*    box-shadow: 0 0 5px 3px #81cad1;
*/

#intro-text-area h1,
h4 {
    margin: 0px;
}

h4 {
    font-size: 0.9em;
    font-weight: 400;
    color: white;
    margin-bottom: 5%;
    margin-top: 3%;

}

#cta-button {
    width: 50%;
    min-height: 45px;
}

#call-to-action {
    width: 50%;
    height: 100%;
    border: none;
    background-color: #490E43;
    color: white;
}




/*right side of the main area*/

#my-picture-area {
    width: 35%;
    margin-right: 5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#my-picture-area img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 2px #043539, 0 0 5px #043539, 0 0 8px #043539, 0 0 10px;
}