/*General declarations*/
html {
    font-family: sans-serif;
    background-color: #000000;
    scroll-behavior: smooth;
}

body,
nav,
#my-picture-area {
    max-width: 1280px;
    display: flex;
    align-items: center;
}

body {
    flex-direction: column;
    margin: 0;
    color: white;
}

a:hover,
button:hover {
    cursor: pointer;
}

h4 {
    font-size: 1.1em;
    font-weight: 300;
}

/*--------NAV----------*/

#hamburger {
    font-size: 1.9em;
    display: none;
    z-index: 9999;
}

nav {
    width: 70%;
}

nav div,
nav ul {
    width: 50%;
}

nav div a {
    text-decoration: none;
}

nav div a h3 {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav ul a {
    margin-left: 20px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: #65C7CF;
}

nav ul li {
    display: inline-block;
}

#mobile-nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;

    backdrop-filter: blur(16px) saturate(120%);
    -webkit-backdrop-filter: blur(16px) saturate(120%);
    background-color: rgba(44, 106, 115, 0.4);

    transform: translateY(-100%);
    transition: transform 0.5s ease, visibility 0s 0.5s, opacity 0.5s linear;
}


#mobile-nav.active {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
}

#mobile-nav ul {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: 20%;
    margin: 0px;
    padding: 0px;
    list-style: none;

}

#mobile-nav ul li {
    text-align: center;
    font-size: 2em;
    font-weight: 300;
}

#mobile-nav ul li a {
    text-decoration: none;
    color: white;
}

.disable-scroll {
    overflow: hidden;
}


/*--------MAIN & CHILDREN----------*/

main {
    width: 70%;
    min-height: 80vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 5px;
    margin-top: 2.6%;
}

/*LEFT HALF main*/

#intro-text-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

#intro-text-area h1,
#intro-text-area h4 {
    margin: 0px;
}

#intro-text-area h1 {
    font-size: 4em;
    font-weight: 600;
    color: #65C7CF;
}

#intro-text-area h1 span {
    animation: underscoreInOut;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

#cta-button {
    height: auto;
    padding-left: 0px;
    padding-right: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

#call-to-action {
    height: 100%;
    width: 50%;
    max-width: 175px;
    max-height: 50px;
    border: none;
    border-radius: 8px;
    font-size: 0.9em;
    color: white;
    background-image: radial-gradient(circle 897px at 9% 80.3%, #490E43 0%, white 100.2%);
    animation: buttonChangeShape;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

#call-to-action:hover {
    background-image: radial-gradient(circle 897px at 9% 80.3%, #77056c 0%, white 100.2%);
}

/*RIGHT HALF main*/

#my-picture-area {
    justify-content: center;
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

#my-picture-area img {
    max-width: 305px;
    max-height: 305px;
}

#image-glowing-ring {
    position: absolute;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 0 5px #043539, 0 0 8px #043539, 0 0 11px #043539, 0 0 14px #043539;
    z-index: 999;
}

@keyframes underscoreInOut {

    0%,
    49% {
        opacity: 0;
    }

    50%,
    100% {
        opacity: 1;
    }
}

@keyframes buttonChangeShape {
    0% {
        opacity: 0;
        left: 50%;
    }

    50% {
        opacity: 1;
        left: 0%;
        box-shadow: 2px 0px 3px #913387, -2px 0px 3px #913387, 0px 2px 3px #913387, 0px -2px 3px #913387;
    }

    100% {
        box-shadow: none;
    }
}

/*--------MY PROJECTS SECTION----------*/

#my-projects {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5px;
}

#my-projects h2 {
    width: 100%;
    color: #65C7CF;
}

.my-projects-intro-p {
    width: 100%;
    font-size: 1.1em;
}

span {
    color: #65C7CF;
}

#cards {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#card-qatar,
#card-bubble,
#card-icegas {
    opacity: 0;
}

.animate #card-qatar {
    animation: cardThreeIn 1s 0.5s forwards;
}

.animate #card-bubble {
    animation: cardTwoIn 1s 1s forwards;
}

.animate #card-icegas {
    animation: cardOneIn 1s 1.5s forwards;
}

.project-container {
    width: 25%;
    display: inline-block;
    padding-bottom: 15px;
    border-radius: 10px;
    background-color: black;
    box-shadow: 1px 0 2px #043539, -1px 0 5px #043539, 1px 0 8px #043539, -1px 0 11px #043539;
}

.project-container h3,
.project-container p,
.visit {
    position: relative;
    left: 5%;
}

.project-container img {
    width: 100%;
    height: 130px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.project-container p {
    width: 90%;
    font-size: 1.1em;
}


.visit {
    width: 90%;
    border: 0;
    border-radius: 5px;
    padding-top: 8px;
    padding-bottom: 8px;
    background-image: radial-gradient(circle 897px at 9% 80.3%, #490E43 0%, rgb(202, 195, 195) 100.2%);
    color: white;
}

.visit:hover {
    background-image: radial-gradient(circle 897px at 9% 80.3%, #77056c 0%, rgb(202, 195, 195) 100.2%);
}

@keyframes cardThreeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cardTwoIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes cardOneIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/*--------ABOUT ME ----------*/

#about-me {
    width: 70%;
    margin-top: 5vh;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

#about-me img {
    align-self: center;
    max-width: 20%;
    max-height: 175px;
    min-width: 200px;
}


#about-me-text h2 {
    color: #65C7CF
}

#about-me-text p {
    font-size: 1.1em;
    color: white;
}

/*--------FOOTER ----------*/

footer {
    width: 90%;
    margin-top: 10vh;
    margin-right: 0px;
    display: flex;
    justify-content: space-evenly;
    color: white;
}

#connect {
    color: #65C7CF
}

footer ul {
    display: block;
    padding: 0px;
    list-style: none;
}

footer ul li {
    display: inline-block;
}

footer ul img {
    max-width: 40px;
    position: relative;
    left: 0%;
}


footer h4 {
    left: 0%;
}

#foot-contact ul img {
    margin-left: 5px;
    margin-right: 5px;
}


/*MEDIA QUERIES*/

@media screen and (max-width: 1160px) {
    nav {
        width: 90%;
    }

    nav ul li a {
        margin-left: 0px;
        margin-right: 10px;
    }

    main {
        width: 90%;
        grid-template-rows: auto auto auto;
    }

    #intro-text-area,
    #my-picture-area,
    #cta-button {
        grid-column-start: 1;
        grid-column-end: 5;
    }

    #intro-text-area {
        align-items: center;
        grid-row-start: 1;
        grid-row-end: 2;
        margin-bottom: 5%;
    }

    #intro-text-area h4 {
        width: 90%;
        text-align: center;
    }

    #my-picture-area {
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #cta-button {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #call-to-action {
        min-height: 35px;
        max-width: 300px;
        margin-top: 10%;
        width: 100%;
    }

    #cards {
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
    }

    #my-projects {
        width: 90%;
    }

    .project-container {
        width: 50%;
        max-width: 265px;
        margin-top: 10%;
    }

    #about-me {
        width: 90%;
        flex-direction: column-reverse;
    }

    #about-me img {
        align-self: center;
    }
}

/*break here to next section*/


@media screen and (max-width: 660px) {
    nav ul {
        display: none;
    }

    #hamburger {
        display: flex;
        justify-content: end;
    }

    .project-container {
        width: 100%;
    }

    .project-container img {
        height: fit-content;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    .animate #card-qatar {
        animation: cardThreeIn 1s 1.5s forwards;
    }

    .animate #card-bubble {
        animation: cardTwoIn 1s 1s forwards;
    }

    .animate #card-icegas {
        animation: cardOneIn 1s 0.5s forwards;
    }

}

@media screen and (max-width: 575px) {

    nav ul {
        display: none;
    }

    #intro-text-area h1 {
        width: 100%;
        font-size: 2.6em;
        margin-bottom: 5%;
    }

    #intro-text-area h4 {
        width: 100%;
        text-align: start;
    }

}

@media screen and (max-width: 400px) {
    .project-container {
        max-width: unset;
        width: 100%;
    }
}